[submodule "external/Eigen"]
	path = external/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/Ponca"]
	path = external/Ponca
	url = https://github.com/poncateam/ponca.git
[submodule "external/DGtal"]
	path = external/DGtal
	url = https://github.com/DGtal-team/DGtal.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
